@import '@/app/globals.scss';

.emphasis   {
    font-style: normal;
}

.light_blue {
    color: $light-blue;
}

.teal   {
    color: $teal;
}

.aqua_green {
    color: $aqua-green;
}

.dark_teal  {
    color: $dark-teal;
}