@import '@/app/globals.scss';

.modal_open   {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    overflow: auto;
    z-index: 9999;
}

.modal_closed {
    display: none;
}

.button {
    height: 40px;
    width: 100px;
}

.modal {
    background-color: $dark-gray;
    align-items: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 10px;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 50vh;
    padding: 10px 20px;
    translate: 0 -50%;
    text-align: center;
    width: 320px;
}

.message {
    color: $white-gray;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .modal {
        width: 80%;
    }
}