@import '@/app/globals.scss';
$ice: #d9deec;
$gray1: #1b202a;
$gray2: #31363F;
$aqua1: #037bbb;
$aqua2: #02bfcb;
$aqua3: #B2F0F4;

.back {
    background: linear-gradient(90deg, $gray1 0%, $gray2 100%) 100%;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding-bottom: 7%;

    .page {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        display: grid;

        .shadow {
            box-shadow: 0 0 15px rgba($aqua3, 0.3);
            border-radius: 30px;
            height: auto;
            width: 88%;
            top: 8%;
            left: 6%;
            bottom: -90%;
            position: absolute;
            align-self: stretch;
            justify-self: stretch;
        }

        .policy {
            box-sizing: border-box;
            height: 100%;
            width: 100%;
            padding: 100px 10%;
            display: grid;
            overflow: hidden;

            color: $ice;
            font-family: 'Raleway', serif;
            font-size: smaller;

            .items {
                box-sizing: border-box;
                height: 100%;
                width: 100%;
                display: grid;

                .embed:last-of-type {
                    padding-bottom: 0;
                    border-bottom: none;
                }

                .embed {
                    box-sizing: border-box;
                    height: 100%;
                    width: 100%;
                    border-bottom: {
                        style: ridge;
                        width: thin;
                        color: rgba($ice, 0.5);
                    }

                    display: flex;
                    flex-direction: column;
                    align-content: space-between;
                    padding-top: 3.5%;
                    padding-bottom: 2%;

                    div {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-content: space-between;
                        padding-top: 1%;
                    }

                    .title {
                        padding-left: 0.5%;
                    }

                    .list > ul {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        padding-left: 3.7%;

                        li {
                            padding-bottom: 1%;
                        }
                    }
                }
            }
        }
    }
}