@import '@/app/globals.scss';

.register_form  {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.form_rows  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 56px;
    width: 100%;
}

.button_div {
    margin-top: 40px;
}