/*-------------------------------------------------------------------<COLORS>----------------------------------------------------------------------------------------------*/
/*Chosen color palette was obtained from Color Hunt */
/*darkest-color*/
$dark: #1e232c;
/*dark-gray*/
$dark-gray: #31363f;
/*gray*/
$gray: #222831;
/*teal*/
$teal: #279298;
/*light-blue*/
$light-blue: #b2f0f4;
/*aqua-green*/
$aqua-green: #02ccd8;
/*white-gray*/
$white-gray: #f5f5f5;
/*dark-teal*/
$dark-teal: #0973a7;
/*dark-green*/
$dark-green: #024044;
