@mixin blue_gradient {
    background: rgb(0,41,44);
    background: linear-gradient(145deg, rgba(0,41,44,1) 0%, rgba(2,64,68,1) 100%);
}

@mixin green_gradient {
    background: rgb(0,41,44);
    background: linear-gradient(145deg, rgba(0,41,44,1) 0%, #024044 100%);
}

@mixin dark_gradient    {
    background: rgb(0,41,44);
    background: linear-gradient(145deg, #1E232C 0%, #31363F 100%);
}