@import '@/app/globals.scss';

.error  {
    display: grid;
    place-content: center;
    height: 90vh;

    h1  {
        color: $white-gray;
        font-family: $m;
    }
}

.main    {
    @include green_gradient;
    @include spacing;

    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 77px;
    height: 100vh;
}

.h1 {
    color: $white-gray;
    font-family: $m;
    font-size: 48px;
    font-weight: 800;
}

.section    {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}