@import '@/app/globals.scss';
$ice: #d9deec;
$gray1: #1b202a;
$gray2: #31363F;
$aqua1: #037bbb;
$aqua2: #02bfcb;
$aqua3: #B2F0F4;

.header {
    background: linear-gradient(0deg, $gray2 0%, $gray1 100%);
    border-bottom-left-radius: 12%;
    border-bottom-right-radius: 12%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 5%;
    min-height: 50px;
    width: 100%;
    position: fixed;
    color: $ice;
    font-family: 'Raleway', serif;
    overflow: hidden;
    font-size: smaller;

    .logo {
        background-color: rgba(255, 255, 255, 0.1);
        float: left;
        flex: 1;
        width: 100%;
        height: 100%;
    }

    .items {
        box-sizing: border-box;
        display: flex;
        float: right;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex: 1.2;
        height: 100%;
        padding-right: 1%;

        div {
            flex: 1;
            //background-color: rgba(255, 255, 0, 0.1);
            text-align: center;
        }

        a {
            color: $ice;
            text-decoration: none;
            font-weight: bolder;
            //filter: drop-shadow(0 0 0.6px $ice);
        }

        .account {
            flex: 2;
            box-sizing: border-box;
            display: flex;
            height: 100%;
            align-items: center;

            .user {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    //border: #02CCD8 solid 1px;
                    height: fit-content;
                    width: fit-content;
                    margin-right: 5%;
                }
            }
        }

        .login {
            flex: 2;
            box-sizing: border-box;
            display: flex;
            justify-items: center;
            align-items: center;
            height: 100%;
            width: 100%;

            a {
                width: 100%;
                height: 100%;
                padding: 8px 10%;
                background: linear-gradient(90deg, $aqua1 10%, $aqua2);
                border-radius: 100px;
            }

            .register {
                background: linear-gradient(-90deg, $aqua1 20%, $aqua2);
                color: $gray1;
            }
        }
    }
}

@media(max-width: 820px) {
    .header {
        flex-direction: column;
        align-content: space-between;

        .logo {
            background-color: rgba(255, 255, 255, 0.1);
            flex: 1;
            width: 100%;
            height: 100%;
        }

        .items {
            flex-direction: column;
            display: none;

        }
    }
}