@import '@/app/globals.scss';

.error  {
    color: $white-gray;
    display: grid;
    font-family: $m;
    height: 90vh;
    place-content: center;
    text-align: center;
}

.main    {
    @include green_gradient;
    @include spacing;

    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 77px;
    height: 100vh;
    text-align: center;
}

.h1 {
    color: $white-gray;
    font-family: $m;
    font-size: 48px;
    font-weight: 800;
}

.h4 {
    color: $light-blue;
    font-family: $m;
    font-size: 20px;
}